// .overlay
// 	pointer-events: none
//   +setPosition(absolute,0,null,null,0)
//   +size(100%)
// 	z-index: 99999
// 	background-color: #0e0e0f
// 	opacity: 1

.wrapper
  +setFlex
  +size(100%)
  position: relative

.person
  +size(100%)
  +setPosition(absolute,50%,null,null,50%)
  +setFlex
  flex-direction: column
  transform: translate(-50%, -50%)

.person-content
  +setFlex
  flex-direction: column
  position: relative
  width: 18%
  +breakpoint(sm)
    width: 50%

.darkModal .person-heading
  color: #fff

.darkModal .btn-enter
  color: #fff

.person-heading
  +setFont(3vw,null,4px,#424040)
  cursor: default
  // -webkit-text-stroke: 1px #efecea
  font-family: 'Shippori Mincho'
  letter-spacing: 0px
  transition: 0.3s
  +breakpoint(sm)
    font-size: 8vmin
    letter-spacing: -0.5vmin
    -webkit-text-stroke: 0.5px #efecea
  &.c1
    align-self: flex-start
  &.c2
    align-self: flex-end
  span
    display: inline-block

.input-text
  +setFont(24px,bold,2px,#878080)
  text-align: center
  position: relative
  z-index: 1
  margin-bottom: 80px
  +breakpoint(sm)
    font-size: 4.5vmin
  &::after
    content: '_'
    position: absolute
    animation: textInput 0.6s both infinite alternate
.btn-enter
  transition: all 0.5s
  position: relative
  box-sizing: border-box
  +setFont(14px,bold,3px,rgba(#000, 0.4))
  padding: 0 34px
  z-index: 3
  cursor: pointer
  +breakpoint(sm)
    margin-top: 4vmin
    font-size: 12px
  @media (min-width: 996px)
    &:hover
      color: rgba(#000, 1)
      &::before,&::after
        width: 20px
        background-color: rgba(#000, 1)
  &::before,&::after
    content: ''
    position: absolute
    top: 50%
    transform: translateY(-50%)
    +size(6px,2px)
    background-color: rgba(#000, 0.3)
    transition: 0.5s
  &::before
    left: 0
  &::after
    right: 0